$theme-colors: (
  "primary": #48cd8b,
);
$primary-color: #48cd8b;
$error-color: #ff6060ed;
%main-div {
  width: 90%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #d4cfcf;
  position: relative;
}
%input {
  outline: none;
  border: none;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: inset 8px 8px 11px #c5c2c2, inset -8px -8px 11px white;
  box-shadow: inset 8px 8px 11px #c5c2c2, inset -8px -8px 11px white;
  padding: 20px;
  background: none;
  margin-bottom: 30px;
  color: #757575;
  transition: 0.3s;
}
%input:focus {
  -webkit-box-shadow: 0 0 5px 3px $primary-color;
  box-shadow: 0 0 5px 3px $primary-color;
}
%form-button {
  border: none;
  outline: none;
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  background: $primary-color;
  color: white;
  font-size: 21px;
  font-weight: 600;
  box-shadow: 6px 6px 11px #a9a6a6, -6px -6px 11px white;
  transition: 0.3s;
}
%form-button:active {
  background: #3cad75;
  transform: translateY(2px);
  transition: 0.3s;
}
%popup-form {
  position: fixed;
  top: 6%;
  left: 50%;
  width: 668px;
  height: 800px;
  background: white;
  border-radius: 10px;
  z-index: 150;
  box-shadow: 0 0 15px #cccccc;
  transition: 0.4s;
  transform: scale(1) translate(-50%);
  background: #eae8e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

%table {
  height: 500px;
  border-radius: 20px;
  box-shadow: 8px 8px 10px #c5c2c2, -8px -8px 10px white;
  width: 100%;
  .table-header {
    height: 16%;
    background-color: $primary-color;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12%, 1fr));
    gap: 10px;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    span {
      font-weight: bold;
      box-shadow: 4px 4px 8px #4a4a4a;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        margin: 0;
        font-size: 12px;
        font-weight: 300;
        color: #353535;
      }
    }
  }
  .table-body {
    height: 84%;
    border-radius: 0 0 20px 20px;
    display: flex;
    .week-schedule {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(12%, 1fr));
      gap: 10px;
      padding: 10px;
      opacity: 1;
      transition: 1s;
      .day-schedule {
        text-align: center;
        padding: 20px;
        border-radius: 20px;
        box-shadow: inset 8px 8px 8px 0px #c5c2c2, inset -8px -8px 8px 0 white;
        p {
          border-radius: 20px;
          text-align: center;
          max-height: 66px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
          box-shadow: 4px 4px 8px #4a4a4a6e;
          font-weight: 600;
          span {
            margin-left: 3px;
            font-style: italic;
            color: #48cd8b;
          }
          .full {
            color: #ff6060cc;
          }
        }
        p:hover {
          background-color: lightgray;
          transition: 0.3s;
          cursor: pointer;
        }
      }
    }
    .week-schedule div:last-child {
      border: none;
    }
    .loading {
      opacity: 0;
      transition: 0.5s;
    }
  }
}

@import "~bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

.App {
  background: #eae8e8;
  min-height: 100vh;

  .loader {
    position: absolute;
    top: 60%;
    left: 47%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $primary-color;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
    transform: translate(-50%);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .none {
    display: none;
  }

  .login-page {
    display: flex;
    justify-content: center;
    .login-page-form {
      min-width: 33%;
      min-height: 420px;
      display: flex;
      flex-direction: column;
      margin: 4rem;
      box-shadow: 8px 8px 10px #a9a6a6, -8px -8px 10px white;
      border-radius: 20px;
      .form-header {
        background: $primary-color;
        color: white;
        border-radius: 20px 20px 0 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        h1 {
          width: fit-content;
          padding: 20px;
          box-shadow: -6px -6px 5px #fdfdfd24, 6px 6px 5px #31313145;
          border-radius: 20px;
        }
      }
      .form-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 20px;
        input {
          @extend %input;
        }
        button {
          @extend %form-button;
          width: 100%;
        }
      }
    }
  }
  .home-page {
    height: -webkit-fill-available;
    .home-page-nav {
      position: fixed;
      top: 0;
      width: 100%;
      height: 108px;
      background-color: #353535;
      box-shadow: 0 0 11px 2px;
      z-index: 100;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        .nav-routes {
          display: flex;
          padding: 10px;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          font-weight: 700;
          color: $primary-color;
          span {
            margin: 0 5px;
          }
          span:hover,
          span:active {
            color: white;
            cursor: pointer;
          }
          .active {
            color: white !important;
          }
          .active:hover {
            text-decoration: none;
          }
        }
        h1 {
          font-size: 50px;
          font-weight: 900;
          color: white;
          margin: 0;
        }
      }
      img {
        height: 100%;
      }
      .hamburger-menu {
        display: none;
      }
      .user-icon {
        height: 77px;
        width: auto;
        border-radius: 50%;
        border: 4px solid white;
        margin-right: 10px;
        color: white;
        cursor: pointer;
        transition: 0.2s;
      }
      .user-icon:hover {
        background-color: #585757;
        box-shadow: 0 0 10px white;
      }
      .online {
        background: #3aa26e;
      }
      .online:hover {
        background: $primary-color;
        box-shadow: 0 0 17px 3px $primary-color, 0 0 30px $primary-color;
      }
    }
    .home-page-header {
      margin-bottom: 5rem;
      h1 {
        text-align: center;
      }
    }
    .home-page-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      h1 {
        font-weight: 600;
        color: #353535;
        margin-bottom: 50px;
        margin-top: 15px;
        text-align: center;
      }
      .logout-button {
        @extend %form-button;
        width: fit-content;
        margin-bottom: 30px;
        padding: 10px 20px;
      }
      .sign-for-workout-button {
        outline: none;
        padding: 20px;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 600;
        background: #3aa26e;
        color: white;
        border: 4px solid white;
        transition: 0.2s;
        margin-bottom: 15px;
      }

      .sign-for-workout-button:hover {
        background: $primary-color;
        box-shadow: 0 0 17px 3px $primary-color, 0 0 30px $primary-color;
      }

      .close-icon {
        position: absolute;
        top: 6px;
        right: 6px;
        height: 44px;
        width: 44px;
        color: gray;
        box-shadow: 4px 4px 7px #c5c2c2, -4px -4px 7px white;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s;
      }

      .close-icon:active {
        background: #d4cfcf;
        padding: 2px;
      }
      .users {
        @extend %main-div;
        .users-table {
          @extend %table;
          overflow: hidden;
          .table-header {
            grid-template-columns: repeat(auto-fill, minmax(17%, 1fr));
          }
          .table-body {
            flex-direction: column;
            margin: 10px;
            box-shadow: inset 8px 8px 8px 0px #c5c2c2, inset -8px -8px 8px 0 white;
            height: 80%;
            overflow-y: scroll;
            .all-users {
              transition: 2s;
              opacity: 1;
              .user {
                height: 50px;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(17%, 1fr));
                grid-gap: 10px;
                gap: 10px;
                text-align: center;
                border-bottom: 1px solid #80808040;
                span {
                  border-radius: 20px;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .verified {
                  justify-content: space-evenly;
                  p {
                    margin: 0;
                    background: #ec7575;
                    padding: 5px;
                    border-radius: 10px;
                    color: white;
                    box-shadow: 4px 4px 8px #4a4a4a6e;
                    cursor: pointer;
                    transition: 0.3s;
                  }
                  p:active {
                    transform: translateY(2px);
                    transition: 0.3s;
                  }
                  .is-active {
                    background: $primary-color;
                  }
                  .not-active {
                    background: #ff6060ed;
                  }
                }
                svg {
                  width: 30px;
                  height: 30px;
                  color: #8c8989;
                  cursor: pointer;
                }
              }
            }
            .loading {
              opacity: 0;
              transition: 0.5s;
            }
          }
          .table-body::-webkit-scrollbar {
            display: none;
          }
        }
      }
      .user-details {
        @extend %popup-form;
        button {
          @extend %form-button;
        }
      }
      .user-info {
        @extend %popup-form;
        justify-content: start;
        .info-svg {
          color: white;
          height: 125px;
          width: 125px;
          border-radius: 50%;
          box-shadow: 11px 11px 20px #c5c2c2;
          border: 5px solid white;
          margin-bottom: 30px;
        }
        .info-details,
        .user-register,
        .user-login {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: inherit;
          width: 100%;

          .info-header,
          .user-register-header,
          .user-login-header {
            text-align: center;
          }
          .info-body {
            width: 80%;
            padding: 20px;
            box-shadow: 0 0 6px #b1b1b1;
            background: white;
            position: relative;
            border-radius: 20px;
            .info-options {
              position: absolute;
              top: -45px;
              background: #48cd8b;
              padding: 10px 5px 5px;
              border-radius: 20px 20px 0 0;
              font-weight: 600;
              font-size: 20px;
              span {
                padding: 5px;
                cursor: pointer;
              }
              .active {
                color: white;
              }
            }
            button {
              border: none;
              outline: none;
              background: #48cd8b;
              padding: 10px;
              border-radius: 10px;
              color: white;
              font-weight: 600;
              box-shadow: 0 0 7px #808080a8;
            }
            .user-workouts {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: white;
              border-radius: 20px;
              padding: 20px;
              overflow-y: scroll;
              .all-workouts {
                transition: 1s;
                opacity: 1;
                .workout {
                  width: 100%;
                  display: flex;
                  margin-bottom: 10px;
                  border-bottom: 1px solid #b1b1b173;
                  span {
                    width: 25%;
                    text-align: center;
                  }
                  svg {
                    cursor: pointer;
                    height: 20px;
                    width: 20px;
                  }
                }
              }
              .loading {
                opacity: 0;
                transition: 0.2s;
              }
            }
            .user-workouts::-webkit-scrollbar {
              display: none;
            }
            .is-active {
              color: $primary-color;
            }
            .not-active {
              color: $error-color;
            }
            p {
              border-bottom: 1px solid #b1b1b173;
              width: fit-content;
              color: gray;
            }
            span {
              color: #212529;
            }
          }
          .user-register-body,
          .user-login-body {
            width: 100%;
            select,
            input {
              @extend %input;
            }
          }
          .form-button {
            @extend %form-button;
            margin-bottom: 20px;
            width: 100%;
          }
          span {
            .change-info {
              color: $primary-color;
              text-decoration: underline;
              cursor: pointer;
            }
            .change-info:hover {
              color: #378c62;
            }
          }
        }
      }
      .workout-details {
        @extend %popup-form;
        select,
        input {
          @extend %input;
        }
        .form-button {
          @extend %form-button;
        }

        .workout-details-body {
          height: -webkit-fill-available;
          width: 100%;
          display: flex;
          flex-direction: column;
          border-radius: 20px;
          box-shadow: inset 8px 8px 8px 0px #c5c2c2, inset -8px -8px 8px 0 white;
          padding: 20px;
          overflow-y: scroll;
          transition: 1s;
          opacity: 1;
          .attendant {
            padding: 10px;
            font-size: 20px;
            border-radius: 20px;
            box-shadow: 4px 4px 8px #4a4a4a6e;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            svg {
              height: 26px;
              width: 26px;
              color: #353535a6;
              cursor: pointer;
            }
          }
        }
        .loading {
          opacity: 0;
          transition: 0s;
        }
      }
      .sign-for-workout {
        @extend %popup-form;
        .sign-for-workout-header {
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            color: #353535;
            text-align: center;
          }
          img {
            height: 125px;
            width: 125px;
            border-radius: 50%;
            box-shadow: 11px 11px 20px#c5c2c2;
            border: 5px solid white;
            margin-bottom: 30px;
          }
        }

        .sign-for-workout-body {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 90%;
        }
        .filled {
          select {
            pointer-events: none;
            cursor: default;
            color: #afafaf;
          }
        }
        select,
        input {
          @extend %input;
        }
        .form-button {
          @extend %form-button;
        }
      }
      .hidden {
        transform: scale(0) translate(-200%);
      }
      .background-cover {
        background-image: url("./images/gvozdjar-cover-2-black.jpg");
        background-size: cover;
        background-position: top;
        width: 100%;
        min-height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 100px;
        margin-top: 105px;
        .carousel-inner {
          height: 500px;
          width: 900px;
          border-radius: 0.4rem;
          box-shadow: 0 0 17px 3px $primary-color;
          border: 2px solid $primary-color;
          .carousel-item {
            height: 500px;
            h3 {
              font-size: 40px;
              font-weight: bold;
            }
            p {
              font-size: 25px;
              font-weight: 300;
            }
            position: absolute;
            .carousel-caption {
              right: 15%;
              bottom: 20px;
              left: 0;
              z-index: 10;
              padding-top: 20px;
              padding-bottom: 20px;
              color: #fff;
              text-align: center;
              background: #000000bf;
              width: 100%;
            }
          }
        }
      }
      .workout-schedule {
        @extend %main-div;
        .selected-schedule {
          display: flex;
          margin-bottom: 20px;
          color: #353535;
          h3 {
            font-weight: 600;
            text-align: center;
          }
          svg {
            width: 32px;
            height: 32px;
            margin: 0 15px;
            cursor: pointer;
          }
        }
        .logs-table {
          @extend %table;
        }
      }
      .programs {
        @extend %main-div;
        .programs-body {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
          gap: 66px;
          padding: 0 167px;
          width: 100%;
          .program {
            position: relative;
            box-shadow: inset 0 0 10px #353535;
            cursor: pointer;
            span {
              position: absolute;
              font-weight: 600;
              font-size: 60px;
              bottom: 20px;
              left: 50%;
              color: white;
              transform: translate(-50%);
              padding: 0 10px;
              width: 100%;
              text-align: center;
              background: #000000d9;
              transition: 0.2s;
            }
            img {
              height: 340px;
              width: 100%;
              box-shadow: 8px 8px 10px #a9a6a6, -8px -8px 10px white;
              transition: 0.2s;
            }
          }
          .program:hover {
            img {
              padding: 10px;
            }
            span {
              background: none;
              box-shadow: 0 0 11px 2px white;
              width: fit-content;
            }
          }
        }
        .program-info-body {
          display: flex;
          justify-content: space-around;
          margin-bottom: 40px;
          img {
            width: 40%;
            box-shadow: 8px 8px 10px #a9a6a6, -8px -8px 10px white;
          }
          div {
            width: 40%;
            li {
              font-weight: 600;
            }
            span {
              font-weight: 600;
            }
          }
        }
      }
      .about-us {
        @extend %main-div;
        .about-us-body {
          display: flex;
          justify-content: space-around;
          .about-us-info {
            width: 40%;
          }
          img {
            width: 40%;
            box-shadow: 8px 8px 10px #a9a6a6, -8px -8px 10px white;
          }
        }
      }
      .gallery {
        @extend %main-div;
        .gallery-body {
          display: flex;
          .gallery-folder {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px;
            position: relative;
            img {
              box-shadow: 8px 8px 10px #a9a6a6, -8px -8px 10px white, inset 0 0 10px #353535;
              cursor: pointer;
              transition: 0.2s;
              height: 300px;
              width: 438px;
            }
            img:hover {
              padding: 10px;
            }
            span {
              font-size: 20px;
              font-weight: 600;
              padding: 10px;
              font-style: italic;
            }
          }
        }
        .lightbox {
          position: fixed;
          top: 5%;
          left: 50%;
          transform: translate(-50%);
          z-index: 200;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 100%;
          .lightbox-carousel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 90%;
            width: 100%;
            .close-lightbox {
              position: absolute;
              top: -20px;
              right: 0;
            }
            svg {
              width: 50px;
              height: 50px;
              color: white;
              cursor: pointer;
              width: 10%;
            }
            img {
              height: inherit;
            }
          }
          p {
            color: white;
            font-size: 20px;
            height: 10%;
          }
        }
      }
      .contact {
        @extend %main-div;
        margin-bottom: 200px;
        .contact-body {
          width: 100%;
          display: flex;
          justify-content: space-around;
          .contact-links {
            width: 40%;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            svg {
              width: 20px;
              height: 20px;
              margin: 0 8px 3px 0;
            }
          }
          iframe {
            width: 40%;
            box-shadow: 8px 8px 10px #a9a6a6, -8px -8px 10px white;
            height: 400px;
            border: none;
          }
        }
      }
    }
    .footer {
      background: #353535;
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      p {
        text-align: center;
        margin-bottom: 20px;
      }
      .footer-icons {
        margin-bottom: 20px;
        border-top: 2px solid white;
        width: 50%;
        text-align: center;
        a {
          text-decoration: none;
          img {
            width: 40px;
            height: 40px;
            margin-right: 20px;
            margin-top: 20px;
            transition: 0.2s;
            border-radius: 10px;
          }
          img:hover {
            padding: 2px;
          }
        }
      }
    }
  }
  .server-response {
    transform: scale(1) translate(-50%);
    position: fixed;
    height: 200px;
    width: 447px;
    border-radius: 20px;
    box-shadow: 0 0 20px grey;
    z-index: 160;
    bottom: 15%;
    left: 50%;
    transition: 0.3s;
    .server-response-error {
      background-color: #ff6060ed;
      height: inherit;
      border-radius: 20px;
      padding: 20px;
    }
    .server-response-message {
      background-color: #48cd8bf2;
      height: inherit;
      border-radius: 20px;
      padding: 20px;
    }
    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: -webkit-fill-available;
      color: white;
      font-size: 30px;
      text-align: center;
    }
  }
  .server-response.hidden {
    transform: scale(0);
    transition: 0.2s;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(10 10 10 / 92%);
  z-index: 100;
  left: 0;
  top: 0;
  overflow: hidden;
}

.error-message {
  color: #ff0000c7;
  text-align: center;
}

.not-found {
  font-size: 20px;
  padding: 20px;
  font-weight: 600;
  color: $primary-color;
}

@media only screen and (max-width: 1515px) {
  .App {
    .home-page {
      .home-page-body {
        .programs {
          .programs-body {
            padding: 0;
          }
        }
        .gallery {
          .gallery-body {
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (max-height: 849px) {
  .App {
    .home-page {
      .home-page-body {
        .user-info,
        .user-details,
        .workout-details,
        .sign-for-workout {
          top: 3%;
          height: 634px;
          .sign-for-workout-header img {
            margin-bottom: 5px;
          }
          .info-svg {
            margin-bottom: 10px;
            height: 100px;
            width: 100px;
          }
          .user-register {
            .user-register-body {
              input {
                padding: 10px 20px;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .App {
    .home-page {
      .home-page-nav {
        .nav-main {
          h1 {
            font-size: 40px;
          }
        }
      }
      .home-page-body {
        .users {
          .users-table {
            .table-header {
              display: none;
            }
            .table-body {
              height: 95%;
              .all-users {
                .user {
                  display: flex;
                  flex-direction: column;
                  height: fit-content;
                  margin-top: 10px;
                  svg {
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
        }
        .workout-schedule {
          .logs-table {
            height: 600px;
          }
        }
        .about-us {
          .about-us-body {
            flex-direction: column;
            .about-us-info {
              width: 100%;
              margin-bottom: 50px;
            }
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  %main-div {
    width: 100%;
    padding: 20px;
  }
  .App {
    .home-page {
      .home-page-nav {
        height: 65px;
        justify-content: space-between;

        .nav-main {
          display: flex;
          flex-direction: column;
          align-items: center;
          h1 {
            display: none;
          }
          .nav-routes {
            position: fixed;
            top: 64px;
            left: 0;
            padding: 20px;
            background: #353535d1;
            width: fit-content;
            height: 100%;
            flex-direction: column;
            justify-content: normal;
            align-items: normal;
            transition: 0.3s;
            .spreader {
              display: none;
            }
            span {
              margin: 5px;
              font-size: 25px;
            }
          }
          .nav-routes.hidden {
            transform: translate(-100%);
          }
        }
        .hamburger-menu {
          display: block;
          height: 65px;
          width: 65px;
          color: white;
          margin: 20px;
          cursor: pointer;
        }
        .user-icon {
          height: 90%;
        }
      }
      .home-page-body {
        .background-cover {
          margin-top: 65px;
          min-height: 0px;
          .carousel {
            width: 100%;
            .carousel-indicators {
              bottom: 0;
            }
            .carousel-inner {
              width: 100%;
              box-shadow: none;
              border: none;
              border-radius: 0;
            }
          }
        }
        .workout-schedule {
          .logs-table {
            display: flex;
            height: fit-content;
            .table-header {
              height: 100%;
              display: flex;
              flex-direction: column;
              width: fit-content;
              border-radius: 20px 0px 0px 20px;
              span {
                height: 183px;
              }
            }
            .table-body {
              height: 100%;
              width: 100%;
              .week-schedule {
                display: flex;
                flex-direction: column;
                .day-schedule {
                  display: grid;
                  width: 100%;
                  grid-template-columns: repeat(auto-fill, minmax(39%, 1fr));
                  gap: 5px;
                  height: 183px;
                  padding: 10px;
                  p {
                    border: none;
                    border-radius: 20px;
                    text-align: center;
                    max-height: 66px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 4px;
                    box-shadow: 4px 4px 8px #4a4a4a6e;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
        .programs {
          .programs-body {
            display: block;
            .program {
              margin-bottom: 50px;
              img {
                height: 100%;
              }
              span {
                font-size: 50px;
              }
            }
          }
          .program-info-body {
            display: block;
            img {
              width: 100%;
              margin-bottom: 20px;
            }
            div {
              width: 100%;
            }
          }
        }
        .gallery {
          .gallery-body {
            .gallery-folder {
              margin: 0;
              margin-bottom: 20px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .lightbox {
            justify-content: center;
            .lightbox-carousel {
              img {
                max-height: 50%;
                max-width: 90%;
              }
            }
          }
        }
        .contact {
          .contact-body {
            display: block;
            .contact-links {
              width: 100%;
              align-items: center;
              margin-bottom: 20px;
            }
            iframe {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .App {
    .server-response {
      width: 93%;
    }
    .home-page {
      .home-page-body {
        .background-cover {
          .carousel {
            .carousel-inner {
              height: 290px;
              .carousel-item {
                .carousel-caption {
                  bottom: 44%;
                  h3 {
                    font-size: 28px;
                    font-weight: normal;
                  }
                  p {
                    font-size: 16px;
                    font-weight: normal;
                  }
                }
              }
            }
          }
        }
        .user-info {
          .info-details {
            .info-body {
              .user-workouts {
                .all-workouts {
                  .workout {
                    flex-direction: column;
                    align-items: center;
                    span {
                      width: 100%;
                    }
                    svg {
                      margin-bottom: 10px;
                    }
                  }
                }
              }
            }
          }
        }
        // .programs {
        //   .programs-body {
        //     .program img {
        //       height: 100%;
        //     }
        //   }
        // }
        // .about-us {
        //   .about-us-body img {
        //     height: 100%;
        //   }
        // }
        // .gallery {
        //   .gallery-body {
        //     .gallery-folder img {
        //       height: 100%;
        //     }
        //   }
        // }
      }
    }
  }
}

@media only screen and (max-width: 650px), screen and (max-height: 650px) {
  .App {
    .home-page {
      .home-page-body {
        .user-info,
        .user-details,
        .workout-details,
        .sign-for-workout {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 150;
          transform: scale(1) translate(0);
          border-radius: 0;
          .sign-for-workout-header {
            padding: 0;
            margin-bottom: 10px;
            img {
              margin-bottom: 5px;
            }
          }
          .sign-for-workout-body {
            input,
            select {
              padding: 14px;
              margin-bottom: 18px;
            }
          }
        }
        .hidden {
          transform: scale(0) translate(-200%);
        }
      }
    }
  }
}
